# My Jupyter Notebook on IBM Watson Studio

**RAGHAV
DATA SCIENTIST**

I'm interested in Data Science beacuse I'll gain a wide array of new skills that will allow me to leverage data to aid companies with their business strategies, and explore exciting new fields developing from within data scienceâ€”fields like artificial intelligence, machine learning, big data, and more.

My code is supposed to print my name and age

In [1]:
print("My name is Raghav");
print("My age is 19");

My name is Raghav
My age is 19



---



1.   Numbered List item-1
2.   Numbered List item-2

*   Bulleted List item-1
*   Bulleted List item-1